.newTaskBlock {
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 16px;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  span {
    font-size: 18px;
    padding-bottom: 2px;
    padding-right: 32px;
  }

  button {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid black;
  }
}
