@import "../styles.module.less";

.taskItem {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 8px;

  &.active {
    border-left: 8px solid @blue-color;
  }

  &.done {
    border-left: 8px solid @green-color;
  }

  &.expired {
    border-left: 8px solid @red-color;
  }

  & > button {
    align-self: flex-end;
    width: auto;
    padding: 4px;
    border: 0;
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      color: #57534e;
    }
  }
}

.topBlock {
  display: flex;
  border-bottom: 1px solid black;
  padding: 8px 4px 8px 8px;
}

.taskInfo {
  flex: 1;

  h3 {
    margin: 0 0 8px;
  }
}

.bottomBlock {
  display: flex;
  justify-content: space-between;
  padding: 8px 4px 8px 8px;

  & > span {
    color: rgb(35, 35, 35);
    font-size: 14px;
  }
}

.imagesBlock {
  display: flex;
  justify-content: flex-start;
  padding-top: 8px;

  img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    margin: 0 4px;
    cursor: pointer;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
