@import "../../base.less";

.taskItem {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 8px;

  &.active {
    border-left: 8px solid @blue-color;
  }

  &.done {
    border-left: 8px solid @green-color;
  }

  &.expired {
    border-left: 8px solid @red-color;
  }

  & > button {
    align-self: flex-end;
    width: auto;
    padding: 4px;
    border: 0;
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      color: #57534e;
    }
  }
}
