@import "../../base.less";

.taskForm {
  padding: 64px 16px 16px;

  & > button {
    border: 0;
    padding: 8px 16px;
    color: white;
    background-color: @blue-color;

    &:hover {
      background-color: #0ea5e9;
    }
  }
}

.formLabel {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 32px;

  input {
    width: 360px;
    padding: 4px 8px;
  }
}

.twoColumnBlock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;

  & > label {
    width: 50%;

    input {
      margin-left: 16px;
      width: 150px;
    }
  }
}

.attachmentBlock {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;

  span {
    font-size: 12px;
    margin-right: 16px;
  }

  button {
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  input {
    display: none;
  }
}

.uploadedImagesBlock {
  display: flex;
  flex-wrap: wrap;
  padding-top: 32px;
}
