.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(100, 100, 100, 0.5);
  z-index: 999;
}

.modalWindow {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 16px;
  max-width: 480px;
  max-height: 500px;
  z-index: 999;

  button {
    display: block;
    border: 1px solid black;
    background-color: white;
    padding: 4px;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    margin-bottom: 16px;
    cursor: pointer;
  }

  img {
    max-width: 448px;
    max-height: 420px;
  }
}
