body {
  background-color: #fafafa;
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}

.App {
  width: 640px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 32px;
}
